
*{
    font-family: cursive; 
    color: #E900FF;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.mainContainer{
    width: 1000px;
    height: 100%;
    margin: 0;
    color: #E900FF;
    display: flex;
    flex-direction: column;
}

.displayWord{
    width: 100%;
    top: 400px;
    font-size: 4em;
    text-align: center;
    position: relative;
}

.displayType, .displayType:focus{
    padding: 0;
    top: 550px;
    left: 50%;
    width: 900px;
    height: 200px;
    font-size: 3em;
    transform: translateX(-50%);
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #000;
    text-decoration: none;
    outline: none;
    text-align: center;
    position: relative;
}

.missCount{
    left: 10px;
    top: 10px;
    font-size: 0.5em;
    border-radius: 5px;
    font-size: 2em;
    position: absolute;
}

.countdown{
    top: 10px;
    right: 10px;
    font-size: 2em;
    position: absolute;
}

.retryBtn{
    top: 400px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 100px;
    text-align: center;
    position: relative;
    visibility: hidden;
}
.retryBtn[show = visible]{
    visibility: visible;
}

