
*{
    color: #E900FF;
    font-family: cursive; 
    box-sizing: border-box;
}


body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.mainContainer{
    margin: 0;
    width: 1000px;
    height: 100%;
    color: #E900FF;
    display: flex;
    flex-direction: column;
}

.displayWord{
    top:400px;
    font-size: 4em;
    width: 100%;
    text-align: center;
    position: relative;
    visibility: visible;
}

.displayType{
    visibility: hidden;
}

.displayType, .displayType:focus{
    padding: 0;
    top: 650px;
    width: 700px;
    height: 100px;
    border-radius: 5px;
    font-size: 3em;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background-color: #000;
    border: none;
    border-bottom: 1px solid #808080;
    text-decoration: none;
    outline: none;
    text-align: center;
    position: relative;
}

.missCount, .countdown{
    top: 10px;
    font-size: 2em;
    position: absolute;
}

.missCount{
    left: 20px;
}

.countdown{
    right: 20px;
}

.retryBtn{
    top: 550px;
    width: 200px;
    height: 100px;
    border-radius: 20px;
    font-size: 1.3em;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    position: relative;
    visibility: hidden;
}

.diffMenu{
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
}


.menuTitle{ 
    padding: 0;
    font-size: 2.4em;
    visibility: hidden;

}

.diffOption{
    width: min-content;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.8em;
    background-color: transparent;
    cursor: pointer;
    border: none;
    visibility: hidden;
    position: relative;
}


*[show = visible]{
    visibility: visible;
}